<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="<%= css %>">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/script.js"></script>
	<title></title>
</head>
<body>
	<div class="container">
		<div id="side">	
			<% if (cart) { %>
					<h1>Cart Items: </h1>
			<% } %>
			<ul>
				<% for(item of cart){ %>
					<li><a href="/product?id=<%= item.id %>"><%= item.name %></a></li>
				<% } %>
			</ul>	
		</div>
		<div id="main">			
			<ul>
				<% for(p of products){ %>
					<li><a href="/product?id=<%= p.id %>"><%= p.name %></a> | <span data="<%= p.id %>">Add to Cart</span></li>
				<% } %>
			</ul>
		</div>
	</div>

</body>
</html>